<div class="balloon-wrapper">
  <div id='<%= comment.id %>'>
    <%= link_to '絵馬', house_comment_path(house_id: comment.house.id, id: comment.id, format: :pdf), class:"btn btn-info pull-right ema" %>
    <p class="balloon-right">
      <%= br comment.body %>
    </p>


    <button type="button" class="pull-right like btn btn-xs btn-info" data-url="<%= like_house_comment_path(house_id: comment.house.id, id: comment.id, format: :json) %>">
      <i class="fa fa-star"></i>
      <span>せやな!</span>
      <span class="count"><%= comment.like_count %></span>
    </button>
    <br>
  </div>
</div>
